<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<title>Signup-Farmer</title>
</head>
<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="css/new-farmer-signup.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-flex.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstap.min.css">
<script src="js/bootstrap-3.3.4.js" type="text/javascript"></script>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/new-materialise.min.js" type="text/javascript"></script>
<script src="js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/new-ang-form.min.js" type="text/javascript"></script>
<style type="text/css">
	
</style>
<body class="img-responsive" ng-controller="RegisterCtrl" ng-app="myApp">
<!--================================NAVIGATION BAR============================-->
<div  class="container-fluid">
  <div class="row ">
    <nav class=" navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  style="position: relative; top: -3px;" href="index.html"><img src="img/nav1.png" alt="Farmahead" height="25px;" width="133px; "></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="" style="font-size: 20.5px;"><a href="index.html">Home </a></li>
        <li class="dropdown" style="font-size: 20.5px;">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#S" >Services</span></a>
          <ul class="dropdown-menu" style="font-size: 20.5px;">
            <li><a href="#Services">Buy</a></li>
            <li><a href="#">Sell</a></li>
            <li><a href="#">Guidance</a></li>
          </ul>
        </li>
        <li><a href="#" style="font-size: 20.5px;">Feedback</a></li>
        <li><a href="#" style="font-size: 20.5px;">Contact Us</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="signup-select.html" style="font-size: 20.5px;"  data-toggle="tooltip" data-placement="bottom"  title="Click to Sign Up "><span  style="font-size: 20.5px;" class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
         <li class="dropdown" style="font-size: 20.5px;" >
            <a href="Login.html" class="dropdown-toggle" data-toggle="dropdown" href="#S"   aria-haspopup="true" aria-expanded="false" ><span  style="font-size: 20.5px;" class="glyphicon glyphicon-log-in"></span> Login</a>
               <ul class="dropdown-menu" style="font-size: 20.5px;">
            <li ><a href="login-farmer.html" >  <img src="img/farm.png" style=" height: 30px;width: 30px;" data-toggle="tooltip" data-placement="left"  title="Click to Login as Farmer ">&nbsp;Farmer</a></li>
            <li><a href="login-consumer.html">  <img src="img/consumer.png" style=" height: 30px;width: 30px;">&nbsp;Consumer</a></li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  </div>
  </div>
  <!--=================================END TOP-NAVBAR================================-->
	
 
 <div class="container">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h1>Sign up</h1>
           <div class="divider"></div>
         </div>
           <form class="form-register" method="post" name="register" novalidate>
	            <div class="input-field col s6">
              <input id="first-name" type="text" class="validate" required>
              <label for="first-name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last-name" type="text" class="validate" required>
              <label for="last-name">Last Name</label>
             </div>
             <div class="input-field col s6">
              <input id="email" type="email" name="email" ng-model="email" class="validate" required>
              <label for="email">Email</label>
             </div>
             <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid.</p>
             <div class="input-field col s6">
               <input id="password" type="password" name="password" ng-model="password" ng-minlength='6' class="validate" required>
               <label for="password">Password</label>
              </div>
              <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>
              <div class="space-top text-center">
               <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
               <i class="material-icons left">done</i> Done
               </button>
               <button type="button" class="waves-effect waves-light btn cancel">
               <i class="material-icons left">clear</i>Cancel
               </button>
              </div>
             </form>
           </div>
        </div>
    </div>

<script type="text/javascript">
	var myApp = angular.module("myApp", []);
myApp.controller("RegisterCtrl", function ($scope) {

});
</script>

</body>

</html>